@model MotoGP.Models.Ticket
@{
    ViewData["Title"] = "Edit ticket";
}

<p>@Html.DisplayNameFor(m=>m.Name) @Html.DisplayFor(m=>m.Name)</p>
<p>@Html.DisplayNameFor(m=>m.Email) @Html.DisplayFor(m=>m.Email)</p>
<p>@Html.DisplayNameFor(m=>m.Address) @Html.DisplayFor(m=>m.Address)</p>
<p>@Html.DisplayNameFor(m=>m.Country) @Html.DisplayFor(m=>m.Country.Name)</p>
<p>@Html.DisplayNameFor(m=>m.Race) @Html.DisplayFor(m=>m.Race.Name)</p>
<p>@Html.DisplayNameFor(m=>m.Number) @Html.DisplayFor(m=>m.Number)</p>
<form asp-action="EditTicket" method="post">
    <input type="checkbox" asp-for="Paid" value="@Model.Paid"/>
    <label asp-for="Paid">@Html.DisplayNameFor(m=>m.Paid)</label><br />
     <input type="hidden" asp-for="TicketID"/>

    <input type="submit" value="Register" />
</form>
<a asp-action="ListRaces">Back</a>